html,
body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-image: url("../style/img/convo/bg.jpg");
}
.empty {
  height: 150vh;
}
.convoLeft {
  display: flex;
  justify-content: flex-start;
  height: 20vh;
}

.convoRight {
  display: flex;
  justify-content: flex-end;
  height: 20vh;
}
.plaatje {
  text-align: center;
  margin-top: 8vh;
}
.emptyPart {
  height: 40vh;
}
.emptyPartLofi {
  height: 20vh;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.conclusie {
  height: 350vh;
}
